{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
  
<div class="row">  
       <div class="alert alert-info">        
<center>
        <a href="/"> <h3>  <font color="blue">CUESTIONARIO</font> </h3> </a>
       
</center>
<br>


 {% for i in vector_de_preguntas %} 

        {% if forloop.first %}
                <p> <font color="blue">{{i.pregunta.pregunta}} </font> </p>
        {% else %}
                <p> <font color="blue">{{i.opcion}} </font> </p>
        {% endif %}
                          

 {% endfor %} 

<br>
<!--   quita este parar color de fondo -->


</div>
</div>



 {% endblock %}






















                  

         
          







 