{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
  
<div class="row">  
       <div class="alert alert-info">        
<center>
        <a href="/"> <h4>  <font color="blue">{{estudio_actual.nombre}}</font> </h4> </a>     
</center>
<br>

         
<center><form action="/agregar_encuesta/{{id_estudio}}/" method="post">     




                       {% csrf_token %}                                                  
                                                    
                <div class="col-md-12">   

 {% for i in vector_de_opciones %} 


     {% for j in i  %} 


        {% if forloop.first %}
                  


                 <br>
                <p> <font color="blue">{{j.pregunta.pregunta}} </font> </p>
                <select name="{{j.pregunta.pregunta}}" value="{{j.pregunta.pregunta}}" style="font-size:12pt;width:300px;background-color:white;color:blue;">

                                              

                 
              
        {% else %}                
        {% endif %}

     {% endfor %}      
                                                     
             {% for j in i  %} 
                <option value="{{j.opcion}}">{{j.opcion}}</option>                              
             {% endfor %}

                                  
      </select> 

        {% ifnotequal tipo_usuario 'ENCUESTADOR' %}
                                    
               <center>
                <a href="/pagina_de_analisis/{{j.pregunta.id}}/BARRAS">  <img  src ='{% static "barras.png" %}' alt='img' style="float: right; margin: 5px 5px 5px 5px;" >  </a>

                 <a href="/pagina_de_analisis/{{j.pregunta.id}}/PASTEL">  <img  src ='{% static "pastel.png" %}' alt='img' style="float: right; margin: 5px 5px 5px 5px;" >  </a>

                 <a href="/pagina_de_analisis/{{j.pregunta.id}}/SECUENCIA">  <img  src ='{% static "secuencia.png" %}' alt='img' style="float: right; margin: 5px 5px 5px 5px;" >  </a>

                   <a href="/pagina_de_analisis/{{j.pregunta.id}}/TENDENCIA">  <img  src ='{% static "tendencia.png" %}' alt='img' style="float: right; margin: 5px 5px 5px 5px;" >  </a>

     

     <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Cruzar pregunta con: <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">                     
         


             {% for k in i  %} 
                 <li><a href="graficar_cruse_de_datos/{{id_estudio}}/{{j.pregunta.id}}/{{k.pregunta.id}}/">{{k.pregunta.pregunta}}</a></li>                            
             {% endfor %}
          </ul>
     </div>





                </center>
        {% endifnotequal %}
      
      <hr>
      <br>

 {% endfor %} 



<br>
         {% ifnotequal tipo_usuario 'EL_LECTOR' %}
                    <input type="submit" value="FINALIZAR/REALIZAR ENCUESTA">
         {% endifnotequal %}

        </form> </center> 
<br>
<br>

<center> <h3> <p>COMPARTIR ESTE ESTUDIO.</p></h3> 

 <a href='whatsapp://send?text= http://encuestasv.com/poner_cuestionario/{{id_estudio}}/' data-action='share/whatsapp/share'> <img src='{% static "whatssapp-sharing.png" %}' style='height:20px !important;' title='Compartir por whatsapp' /></a>                  

<div class="fb-share-button" data-href="https://encuestasv.com/poner_cuestionario/{{id_estudio}}/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdetodonegocio.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                                                                                                        
  </center>       

</div>
</div>



 {% endblock %}

<td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=+503{{j.id_usuario}}&text=detodonegocio_Hola%2C%20deseo%20informacion%20de%20{{j.nombre}}" target="_blank"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>                                    
                                    <td WIDTH="60"><a href="tel://+503{{j.id_usuario}}" target="_blank"><img src='{% static "llamar.png" %}' alt='img'/></a></td>


                 
















                  

         
          







 