{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
  
<div class="row">  
       <div class="alert alert-info">        
<center>
        <a href="/"> <h4>  <font color="blue">CUESTIONARIO</font> </h4> </a>
       
</center>
<br>


<center><form action="/agregar_encuesta/{{id_estudio}}" method="post">
                       {% csrf_token %}                                                  
                                                    
                <div class="col-md-12">   


 {% for i in vector_de_opciones %} 


     {% for j in i  %} 
        {% if forloop.first %}
                <p> <font color="blue">{{j.pregunta.pregunta}} </font> </p>  

                <a href="/pagina_de_analisis/{{j.id}}"> <h5>  <font color="blue">Graficar</font> </h5> </a>
                <select name="{{j.pregunta.pregunta}}" value="{{j.pregunta.pregunta}}" style="font-size:12pt;width:300px;background-color:white;color:blue;">

                <a href="/pagina_de_analisis/{{j.pregunta.id}}"> <h5>  <font color="blue">Graficar</font> </h5> </a>
                                

                 
              
        {% else %}                
        {% endif %}

     {% endfor %}      
                                                     
             {% for j in i  %} 
                <option value="{{j.opcion}}">{{j.opcion}}</option>                              
             {% endfor %}

                                  
      </select> 
      
      <hr>
      <br>

 {% endfor %} 


<br>
<br>
 
                    <input type="submit" value="FINALIZAR ENCUESTA">
                                                                                                        
             </form> </center> 

</div>
</div>



 {% endblock %}






















                  

         
          







 