{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 


<div class="col-md-12">
          <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>Ingreso de Datos</center></h4>  
                      </div> 
                       <p><center>Ingrese su numero de telefono o Whatsapp, y una contrase;a de 4 digitos, estas seran sus credenciales para poder ingresar al sistema. s</center></p>

                      <form action="." method="post" enctype="multipart/form-data" > 
                            {% csrf_token %}                              

                            <p> {{ form.as_p }} </p>                                                              
                           <br>             
                           <input type="submit" value="GUARDAR"  />                       
                      </form>
                                
          </div> 


</div>
      

{% endblock %}