{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 


<div class="col-md-12">
          <div class="thumbnail"> 
                                                  
                      <div class="caption">
                               <h4><center>Registro de Usuario</center></h4>  
                      </div> 
                       <p><center>Ingrese su numero de telefono o Whatsapp, y una contraseña de 4 digitos, estas seran sus credenciales para poder ingresar al sistema.</center></p>

                      <form action="." method="post" enctype="multipart/form-data" > 
                            {% csrf_token %}                              

                           
                            <p> WhatsApp {{ form.watsapp }} </p> 
                            <p> Contraseña(4 digitos) {{ form.clave }}  </p>
<br>
 {% ifequal tipo_usuario 'ENCUESTADOR' %}
                    
                            <p>Municipio {{ form.municipio }} </p> 
                            <p>departatmento {{ form.departatmento }}  </p>
                            <p>barrio_colonia_canton_caserio {{ form.barrio_colonia_canton_caserio }}  </p>
                            <br>
                            <p>n_cuenta_ahorro {{ form.n_cuenta_ahorro }} </p> 
                            <p>banco_a_depositar {{ form.banco_a_depositar }}  </p>
                            <p>nombre_de_la_persona {{ form.nombre_de_la_persona }}  </p>

            {% endifequal %}                            

                           <br>   

                            <p><input type="submit" value="REGISTRARME/GUARDAR" style="font-size:12pt;color:white;background-color:blue;border:2px solid #336600;padding:3px"></p>          
                                                 
                      </form>
                                
          </div> 


</div>
      

{% endblock %}