{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}
{% block content %}
      




<center><h3><p><font color="red">Gracis por confiar en nuestra información </font > </p></h3></center>
 
</center>
<br>

 </p>  Usted ha solicitado interes en ver este estudio de opinion publica, un administrador se comunicara con usted via Whatsapp para indicarle las formas que tiene para pagar. (Pago directo, transferencia bancaria, tigo money, etc)</p>  

<br>
 <p>  Una vez realizado el pago, su usuario sera habilitado para poder ver el estudio. (el estudio estará siempre disponible para usted.)</p>  
 
<p>  Le agradeceremos si comprate nuestro proyecto con sus amigos, hagalo con los botones que estan abajo WhatsApp y faceBook . Gracias</p>  
 
 <br>
 <br>
 <center><li><a href="/" >Ir a la pagimna principal  </a></li></center>
        
      

{% endblock %}
