{% extends "cuestionario.html" %}
{% load staticfiles %} 
{% load thumbnail %}




{% block content_imagenes %}

{%  if j.pregunta.imagen1 %}               
                        
                              {% thumbnail j.pregunta.imagen1 "50x50" crop="center" as  im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}

{%  if j.pregunta.imagen2 %}               
                        
                              {% thumbnail j.pregunta.imagen2 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen3 %}               
                        
                              {% thumbnail j.pregunta.imagen3 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen4 %}               
                        
                              {% thumbnail j.pregunta.imagen4 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen5 %}               
                        
                              {% thumbnail j.pregunta.imagen5 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen6 %}               
                        
                              {% thumbnail j.pregunta.imagen6 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen7 %}               
                        
                              {% thumbnail j.pregunta.imagen7 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen8 %}               
                        
                              {% thumbnail j.pregunta.imagen8 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen9 %}               
                        
                              {% thumbnail j.pregunta.imagen9 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen10 %}               
                        
                              {% thumbnail j.pregunta.imagen10 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen11 %}               
                        
                              {% thumbnail j.pregunta.imagen11 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen12 %}               
                        
                              {% thumbnail j.pregunta.imagen12 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen13 %}               
                        
                              {% thumbnail j.pregunta.imagen13 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen14 %}               
                        
                              {% thumbnail j.pregunta.imagen14 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen15 %}               
                        
                              {% thumbnail j.pregunta.imagen15 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen16 %}               
                        
                              {% thumbnail j.pregunta.imagen16 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen17 %}               
                        
                              {% thumbnail j.pregunta.imagen17 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen18 %}               
                        
                              {% thumbnail j.pregunta.imagen18 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen19 %}               
                        
                              {% thumbnail j.pregunta.imagen19 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen20 %}               
                        
                              {% thumbnail j.pregunta.imagen20 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen21 %}               
                        
                              {% thumbnail j.pregunta.imagen21 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen22 %}               
                        
                              {% thumbnail j.pregunta.imagen22 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen23 %}               
                        
                              {% thumbnail j.pregunta.imagen23 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen24 %}               
                        
                              {% thumbnail j.pregunta.imagen24 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen25 %}               
                        
                              {% thumbnail j.pregunta.imagen25 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen26 %}               
                        
                              {% thumbnail j.pregunta.imagen26 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen27 %}               
                        
                              {% thumbnail j.pregunta.imagen27 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen28 %}               
                        
                              {% thumbnail j.pregunta.imagen28 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen29 %}               
                        
                              {% thumbnail j.pregunta.imagen29 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}
{%  if j.pregunta.imagen30 %}               
                        
                              {% thumbnail j.pregunta.imagen30 "50x50" crop="center" as im %}   
                               <img  style="float: right; margin: 0px 0px 5px 5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" >
                             {% endthumbnail %}
                                 
{% endif %}

{% endblock %}