{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
   

<center><h3><p><font color="red"> {{estudio.nombre}} </font ></p></h3></center>

<br>

 {% ifequal tipo_usuario 'ENCUESTADOR' %}
    <br>
    <p> INFORMACION PARA EL ENCUESTADOR</p>

                    <p>{{estudio.recomendacion}}</p>
                    <br>	
                    <p><font color="red">Precio de cada encuesta: ${{costo_por_muestra}}</font ></p>
 
 {% endifequal %}

       
<br>
        <p>CATEGOORIA: {{estudio.categoria.nombre}}</p>
		 
		 <br>
		 <p>Descripcion del estudio :{{estudio.descripcion}}</p>
		  
		 <br>
		 <p>Fecha inicio {{estudio.fecha_inicio}}</p>
		 <p>Fecha final {{estudio.fecha_final}}</p>
		 
		<p> Tipo de estudio: {{estudio.tipo_de_estudio}}</p>
<br>

		 <p>Numero de muestras Tomadas: {{estudio.n_muestras}}</p>
		 <p>Universo: {{estudio.universo}}</p>
		 <p>Puntos de Error: {{estudio.error}}</p>
		 <p>Nivel de confianza: {{estudio.confianza}}</p>
		 
</center>

                       

{% endblock %}