{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
 
<center> <a href=".">  <img src ='{% static "logo45.png" %}' alt='img' > </a> </center>    
<br>
<center><h3><p>¿QUIÉNES SOMOS?</p></h3></center>

<p>ECOPES, fundada en 2004 en El Salvador, es una empresa, que ofrece servicios en investigación de mercados y  de opinión pública relacionada a lo social y político entre otros. Contamos con oficinas en El Salvador tenemos equipo y personal calificado que desempeña la labor de informar y recabar información en cualquier lugar de estudio. Próximamente tendremos presencia en varios países de Centro América.</p>
<br>

<p>Nos respalda y enorgullece contar con experiencia en el campo de la investigación, más de 20 estudios de opinión publica (Electorales 100% atinados), nuestros clientes toman las mejores decisiones basadas en el conocimiento, hoy contamos con herramientas tecnológicas con las cuales podemos realizar estudios más confiables, en poco tiempo, y con un mayor alcance.</p>
<br>

<center><h3><p>NUESTRA VISIÓN Y MISIÓN</p></h3></center>
<br>
<p>Nuestra misión es brindar información confiable, veraz y oportuna que permita a las empresas e instituciones clientes, el diseño de estrategias certeras para su propio desarrollo y para la promoción de sus productos.</p>
<br>
<p>Tenemos la visión de ser una empresa líder en los temas de investigación de mercados y de opinión pública en el ámbito nacional y centroamericano.</p>
                                           
<br>

<center><h3><p>COMO HACEN LA RECOLECCION DE DATOS</p></h3></center>
<br>
<p>Contamos con una plataforma virtual con la cual recolectamos y mostramos la información</p>
<br>
<p>Contamos con personal físicamente instalados en el lugar donde se realiza el estudio, estos personalmente entrevistan al encuestado e ingresan la informacion al sistema informático, donde la informacion es procesada analizada y es puesta al alcance del usuario final.</p>
          
<br>
<p>El sistema no acepta hacer encuestas VIRTUALES-ON-LINE (tipo facebook) , creemos que ese método no proporciona la certeza que buscamos.</p>
                       

{% endblock %}