{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
  
<div class="row">  
       <div class="alert alert-info">        
<center>
        
        <p><h3><font color="blue">Estudios de opinion publica</font></h3>h3></p>  
          
</center>
<br>
        
        <center><h4><p>Estudios de opinion publica *GRATUITOS</p></h4></center>  
                       
        {% for j in vector_de_estudios_publicos %} 
       		
        		<a href="/poner_cuestionario/{{j.id}}"> <h5>  <font color="blue">{{ j.nombre }} </font> </h5> </a>

                <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h5>  <font color="green">Actualizar</font> </h5> </a>
               
                <p>Ultima actualizacion  xx:xx pm</p>

                
        {% endfor %}

        <center><h4><p>Estudios de opinion publica *POR SUSCRIPCION ($) </p></h4></center>
        
        {% for j in vector_de_estudios_de_pago_habilitados %} 
         		<a href="/poner_cuestionario/{{j.id}}"> <h5>  <font color="blue">{{j.nombre}}</font> </h5> </a> 
                <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h5>  <font color="green">Actualizar</font> </h5> </a>
                <p>Ultima actualizacion  xx:xx pm</p>      		
        {% endfor %} 
        
        
        {% for j in vector_de_estudios_de_pago_deshabilitados %} 
                <a href="informacion"> <h5>  <font color="red">{{j.nombre}}</font> </h5> </a>

                <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h5>  <font color="green">Actualizar</font> </h5> </a>
                <p>Ultima actualizacion  xx:xx pm</p>           
        {% endfor %} 

        <center><h4><p>Estudios de opinion publica PRIVADOS</p></h24></center>
        <center><h6><p>(SOLO USTED PUEDE VER ESTOS ESTUDIOS) </p></h6></center>
        
        {% for j in vector_de_estudios_privado %} 

                <a href="/poner_cuestionario/{{j.id}}"> <h5>  <font color="red">{{j.nombre}} -->  {{j.descripcion}}</font> </h5> </a>  

                <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h5>  <font color="green">Actualizar</font> </h5> </a>
                <p>Ultima actualizacion  xx:xx pm</p>             


        {% endfor %} 




       



         


</div>
</div>
 {% endblock %}
