{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
  
<div class="row">  
       <div class="alert alert-info">        
<center>
        
        <p><h3><font color="blue">Estudios de opinion publica</font></h3></p>  
          
</center>
<br>
 <hr>       
        <center><h4><p>Estudios de opinion publica *GRATUITOS</p></h4></center>  
                       
        {% for j in vector_de_estudios_publicos %} 
       		
        		

                <center>
                <table BORDER="1" CELLSPACING="1">
                

                <tr  align="center">
                                    
                  <td WIDTH="180"><a href="/poner_cuestionario/{{j.id}}"> <h5>  <font color="blue">{{ j.nombre }}  :  {{j.descripcion}}</font> </h5> </a></td>  
                                                          
                                   
                </tr >  



                            
                <tr  align="center">
                                    
                  <td WIDTH="60"><a href="/informacion_del_estudio/{{j.id}}"> <h6>  <font color="blue">Más Info</font> </h6> </a></td>  
                
                   <td WIDTH="60">
                    {% ifequal tipo_usuario 'ADMINISTRADOR' %}
                    <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h6>  <font color="green">Actualizar</font> </h6> </a>
                     {% endequal %}

                </td>                     
                
                  <td WIDTH="60"><h6><p> xx:xx pm</p></h6></td>                             
                                   
                </tr >                                                   

                </table>
                </center>

                
        {% endfor %}

<br>
 <hr> 
        <center><h4><p>Estudios de opinion publica *POR SUSCRIPCION ($) </p></h4></center>
        
        <center><h5><p>Estudios habilitados para usted </p></h5></center>
        
        {% for j in vector_de_estudios_de_pago_habilitados %} 

         		 

                 <center>
                <table BORDER="1" CELLSPACING="1">

                     <tr  align="center">
                                    
                  <td WIDTH="180"><a href="/poner_cuestionario/{{j.id}}"> <h5>  <font color="blue">{{j.nombre}}  :  {{j.descripcion}}</font> </h5> </a></td>  
                                                          
                                   
                </tr >  





                            
                <tr  align="center">
                                    
                  <td WIDTH="60"><a href="/informacion_del_estudio/{{j.id}}"> <h6>  <font color="blue">Más Info</font> </h6> </a></td>  

         
                
                  <td WIDTH="60">
                    {% ifequal tipo_usuario 'ADMINISTRADOR' %}
                    <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h6>  <font color="green">Actualizar</font> </h6> </a>
                     {% endequal %}

                </td>                 
                
                  <td WIDTH="60"><h6><p> xx:xx pm</p></h6></td>                             
                                   
                </tr >                                                   

                </table>
                </center>
                
                      		
        {% endfor %} 
        
        <center><h5><p>Estos estudios No estan habilitados para usted </p></h5></center>
        <center><h5><p>Suscribase aqui. </p></h5></center>

        {% for j in vector_de_estudios_de_pago_deshabilitados %} 

                

                             
                    
                 <center>
                <table BORDER="1" CELLSPACING="1">


                     <tr  align="center">
                                    
                  <td WIDTH="180">
                    <a href="/habilitar_estudio/{{j.id}}"> <h4>  <font color="red">{{j.nombre}} :  {{j.descripcion}}</font> </h4> </a>  

                     <a href="/habilitar_estudio/{{j.id}}" class="btn btn-success" role="button">Quiero ver este estudio, me interesa</a> 


                  </td>  
                                                          
                                   
                </tr >  







                            
                <tr  align="center">

                                    
                  <td WIDTH="60"><a href="/informacion_del_estudio/{{j.id}}"> <h6>  <font color="blue">Más Info</font> </h6> </a></td>  
                
                  <td WIDTH="60">
                    {% ifequal tipo_usuario 'ADMINISTRADOR' %}
                    <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h6>  <font color="green">Actualizar</font> </h6> </a>
                     {% endequal %}

                </td>     
                 
                  <td WIDTH="60"><h6><p> xx:xx pm</p></h6></td>                             
                                   
                </tr >                                                   

                </table>
                </center>   



                
                           
        {% endfor %} 


<br>
 <hr> 
        <center><h4><p>Estudios de opinion publica PRIVADOS</p></h24></center>
        <center><h6><p>(SOLO USTED PUEDE VER ESTOS ESTUDIOS) </p></h6></center>
        
        {% for j in vector_de_estudios_privado %} 

                <center>
                <table BORDER="1" CELLSPACING="1">


                     <tr  align="center">
                                    
                  <td WIDTH="180">
                    <a href="/poner_cuestionario/{{j.id}}"> <h5>  <font color="red">{{j.nombre}} :  {{j.descripcion}}</font> </h5> </a> 
                  

                  </td>  
                                                          
                                   
                </tr >  

                            
                <tr  align="center">

                                    
                  <td WIDTH="60"><a href="/informacion_del_estudio/{{j.id}}"> <h6>  <font color="blue">Más Info</font> </h6> </a></td>  
                
                  <td WIDTH="60">
                    {% ifequal tipo_usuario 'ADMINISTRADOR' %}
                    <a href="/actualizar_previo_a_graficar/{{j.id}}"> <h6>  <font color="green">Actualizar</font> </h6> </a>
                     {% endequal %}

                </td>     
                 
                  <td WIDTH="60"><h6><p> Ultima actualizació: {{fecha_ultima_actualizacion}} pm</p></h6></td>  

                                   
                </tr >                                                   

                </table>
                </center>   
                           


        {% endfor %}         


</div>
</div>
 {% endblock %}
