{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
 


  <center> <a href=".">  <img src ='{% static "portada.png" %}' alt='img' > </a> </center> 
<br>
<p> Manual de Usuario: </p>
	<br>
<p>Bienvenido, en este manual te explicaremos las principales características del sistema de encuestas. </p>
<br>
<p>Primeramente, queremos explicarte que este no es un sistema para hacer encuestas ONLINE, sino una herramienta que facilita el poder realizar encuestas, entrevistando personalmente a los encuestados. </p>
<br>
<p>No queremos desacreditar la encuesta ONLINE, sabemos que son importantes pero no funcionan como herramienta para tomar decisiones acertadas.
Con este sistema buscamos plantear la realidad de la mejor manera, para que estés informado, para que tengas a la mano información veraz con la cual podrás tomar las mejores decisiones.</p>
 <br>

  <center> <a href=".">  <img src ='{% static "inicio.png" %}' alt='img' > </a> </center> 
   <br>

<p>Pagina principal o de Inicio:</p>
 <br>
<p>Cada botón es muy ilustrativo de su función; pese a ello te explicaremos el funcionamiento de ellos.</p>
<br>
<p>Los estudios únicamente los pueden ver los Usuarios registrados, EL REGISTRO ES GRATUITO no hay que pagar nada.</p>
 <br>

  <center> <a href=".">  <img src ='{% static "entrarregistro.png" %}' alt='img' > </a> </center> 
   <br>

<p>1: Regístrate haciendo click en el botón Registro</p>
<br>
<p>Te aparecerá un cuadro de texto donde te indica que ingreses tu número de teléfono, preferiblemente de WhatsApp y una contraseña de 4 dígitos, estas serán tus credenciales.</p> 
 <br>


  <center> <a href=".">  <img src ='{% static "registro.png" %}' alt='img' > </a> </center> 
   <br>

 <p>2 :Posterior a eso debes ingresar al sistema haciendo click en ell botón ENTRAR.
Ahora ingresa tus credenciales, Tu numero de WhatsApp y la contraseña.</p>
 <br>


  <center> <a href=".">  <img src ='{% static "entrar.png" %}' alt='img' > </a> </center> 
   <br>

<p>Para un acceso rápido deja que tu celular y/o navegador recuerde tu usuario y contraseña.</p>
<br>

<p>Cuando ingresas al sistema te conviertes en un LECTOR (Persona que lee los estudios).</p>
<br>
<p>Ahora te aparecerá la siguiente página con las opciones disponibles.</p>
 <br>

  <center> <a href=".">  <img src ='{% static "inicioregistrado.png" %}' alt='img' > </a> </center> 
   <br>

<p>Hay tres modalidades de estudios por el momento.</p>
<br>
<p>GRATUITOS</p>
<p>Cualquier persona puede ver estos estudios, basta únicamente estar registrado en la plataforma</p>
<br>
<p>POR SUSCRIPCION.</p>
<p>Estos estudios únicamente pueden verlos aquellos que han pagado una suscripción por ellos, el estudio estará siempre disponible, (el pago es único)</p>
<br>
<p>PRIVADOS</p>
<p>Este estudio únicamente lo puede ver quien financio el estudio.</p>
<p>Cualquier usuario puede ver los estudios GRATUITOS, solo basta con estar registrado.</p>
<br>
<p>Si quieres ver un estudio que esta definido como DE PAGO (Por suscripción), deberás pagar una suscripción para tener acceso a él, se hace un pago único y será valido para siempre , el costo de la suscripción varia de un estudio a otro y depende del número de muestras, preguntas y alcance del estudio. (Local, municipal, departamental, nacional, Nivel de confianza, Error, Numero de muestras, Universo muestral, etc.)</p>
<br>
<p>Puedes pagar por medio de Tigo money, transferencia bancaria o personalmente a través de un administrador del sistema.</p>
<br>
<p>En la siguiente página aparece un listado de estudios disponibles.  (GRATUITOS, POR SUSCRIPCION Y PRIVADO)</p>
<br> 

  <center> <a href=".">  <img src ='{% static "listadoestudios.png" %}' alt='img' > </a> </center> 
   <br>
<p>Para suscribirte a un estudio "POR SUSCRIPCION" has click sobre el botón verde que dice SUSCRIBIRME o simplemente click sobre el nombre del estudio, te aparecerá un mensaje en el cual se te explicara el costo que tiene la suscripción, la forma de pago y un botón para conectarte mediante mensaje de WhatsApp con el administrador de Estudio.</p>
<br>
<p>Puedes usar el botón de WhatsApp, para acelerar el proceso de suscripción, enviando un mensaje al administrador del estudio.</p>
<br>
<p>El administrador te indicara las formas de pago. (Tigo Money, Transferencia Bancaria, o pago personal).</p>
<br>
<p>Una vez realizado y verificado el pago, el administrador habilitara el estudio para que lo puedas ver. </p>

 <br>

  <center> <a href=".">  <img src ='{% static "buscar.png" %}' alt='img' > </a> </center> 
   <br>

<p>usted puede Utilizar la Opción de Buscar si quiere encontrar algún estudio específico solo escriba una palabra, le aparecerán todos los estudios que contengan esa palabra en su NOMBRE o en su DESCRIPCION o en la categoría (POLITICO, SOCIAL, ECONOMICO, ETC).</p>
<br>
<p>Usted puede compartir los estudios con sus amigos a través de WhatsApp o Messenger.</p>
<br>
<p>CUALES SON LOS ESTUDIOS PRIVADOS.</p>
<br>
<p>Estos estudios están disponibles únicamente para quienes han financiado el estudio. Usted tiene la opción de solicitar que realicemos un estudio específico para usted.</p>
<br>
<p>Primero debe contactar con el administrador de ECOPES para determinar el ALCANCE, CARACTERISTICAS y TIPO DE ESTUDIO a realizar, le recordamos que estos pueden ser de tipo personal, Político, Económicos, Sociales, Culturales, Socioeconómico, científico, Comercial, Mercadotecnia, investigaciones de mercado, entre otros.
 Una vez determinado esto le daremos a conocer El COSTO DEL ESTUDIO, le aclaramos que solo usted como propietario tiene acceso a los resultados.   </p>
<br>
<p>La honestidad, responsabilidad, imparcialidad y especialmente la CONFIDENCIALIDAD son y han sido las características que nos identifican.</p>
<br>
<p>Una ves usted esta acreditado para ver un estudio, podrá acceder a el haciendo clic sobre el titulo del estudio, esto lo llevara al cuestionario del estudio. 
Donde tendrá acceso a las preguntas con sus opciones de respuestas, también tendrá acceso a botones que le mostraran las diferentes graficas de análisis para la pregunta.</p>
<br>
<p>Según se puede apreciar en la siguiente imagen.</p>
 <br>


  <center> <a href=".">  <img src ='{% static "cuestionario.png" %}' alt='img' > </a> </center> 
   <br>

<p>Las opciones de graficas son: BARRAS, PASTEL, SECUENCIA y TENDENCIAS</p>
<br>
<p>BARRAS: usted puede comparar gráficamente con un gráfico de barras el porcentaje que una opción tienen con respecto a otra, para una pregunta especifica.</p>
<br>
<p>PASTEL: usted puede comparar gráficamente con un gráfico de pastel el porcentaje que una opción tienen con respecto a otra, para una pregunta especifica.</p>
<br>
<p>SECUENCIA: Esta opción le permite ver como se ha comportado la respuesta de los encuestados en intervalos de tiempo, como ha venido evolucionando la respuesta (creciendo )</p>
<br>
<p>TENDENCIA: Con esta opción se puede evaluar cual es la tendencia (a la alza o a la baja) que tiene una opción con respecto a las otras. </p>
<br>
<p>Además se tiene la opción de poder Cruzar preguntas, es decir ubicado en una pregunta puedes seleccionar otra y hacer un Cruze de datos entre estas dos preguntas, estos análisis requieren hacer interpretación para obtener los mejores resultados .</p>
 <br>


  <center> <a href=".">  <img src ='{% static "graficas.png" %}' alt='img' > </a> </center> 
   <br>

<p>En la graficas se muestra La pregunta y un listado de opciones enumeradas, las cuales están representadas con el mismo numero dentro de las graficas, En las graficas de tendencias y secuencias se muestran graficas con colores, en el titulo de la grafica aparece el color y su correspondiente numero.</p>
<br>
<p>En la parte de abajo aparece un comentario, este no es automatico, sino la interpretación que el administrador del estudio hace acerca de lo que ve en las gráficas. Este comentario está presente únicamente cuando el estudio está finalizado.</p>
<br>
<p>Como hacemos el estudio:</p>
<br>
<p>Ecopes selecciona a sus colaboradores (encuestadores) después de una exhaustiva entrevista, en la cual se determinan características que son requeridas de acuerdo al estudio a realizar. Por Ejemplo, Ubicación geográfica, Nivel de compromiso con la información, Responsabilidad, etc.</p>
<br>
<p>El interesado en encuestar debe registrarse en el sistema, ECOPES califica y lo acredita ENCUESTADOR.</p>
<br>
<p>Ecopes le asigna el estudio y una cantidad de muestras a realizar, cada muestra tomada es pagada al ENCUESTADOR cuando finaliza de hacer la cantidad de muestras encomendadas. El encuestador puede editar sus datos en EDITAR USUARIO, allí debe incluir nombre completo entre otros datos solicitados.
Este manual y más información acerca del sistema puede ser obtenida al hacer click sobre el Botón  ?.</p>
 <br>

  <center> <a href=".">  <img src ='{% static "opciones.png" %}' alt='img' > </a> </center> 
   <br>
<p>ECOPES,</p>
<p>EL SALVADOR , 23 DE marzo de 2020</p>
<br>
<p>Contacto </p>
<br>
<p>Tel WhatsApp   (503) 78218224</p>





{% endblock %}