


Manual de Usuario:


1: Registrate si quieres ver los estudios.


Solo pueden realizar encuestas quienes esten acreditados (Ecopes selecciona previa entrevista a los encuestadores)

Hay tres modalidades de estudios por el momento.
GRATUITOS
Cualquier persona puede ver estos estudios, basta unicamente estar registrado en la plataforma
POR SUSCRIPCION.
Estos estudios unicamente pueden verlos aquellos que han pagado una suscripcion por ellos, el estudio estara siempre disponible, (el pago es unico)
PRIVADOS
Este estudio unicamente lo puede ver quien financio el estudio.

Como me suscribo a un estudio "POR SUSCRIPCION" has click sobre el boton verde que dice
Quiero ver este estudio, me interesa o simplemente click sobre el nombre del estudio, te aparecera un mensaje como el que se muestra a continuacion.

puedes usar el boton de whatssapp para acelerar el proceso de suscripcion enviando un mensaje al administrador del estudio.

El administrador te indicara las formas de pago. (Tigo Money, Transferencia Bancaria, o pago personal).

Una vez realizado y verificado el pago, el administradoor habilitara el estudio para que lo veas. 

El costo economico de la suscripcion y/o del Estudio varia dependiendo del numero de preguntas que contiene el estudio, del alcance (Local, municipal, departamental, nacional, etc) y la cantidad de muestras tomadas.  (Nivel de confianza, error, Numero de muestras, Universo muestral, etc)


Una ves registrado le aparecera la opcion de ver los ESTUDIOS,  TODOS, ESTUDIOS POR SUSCRIPCION, ESTUDIOS PRIVADOS, apareceran todos los estudios sin filtrar.

usted puede Utilizar la Opcion de Buscar si quiere encontrar algun estudio especifico solo escriba una palabra, le apareceran todos los estudios que contengan esa palabra en su OMBRE o en su DESCRIPCION.

Usted puede compartir los estudio con sus amigos atraves de Whatsap o mesenger, sus amigos deben registrarse en la plataforma para poder ver los estudios. 

Si usted esta interesado en que le realicemos un estudio especifico debe contactar con el administrador de ECOPES para determinar el ALCANCE, CARACTERISTICAS y TIPO DE ESTUDIO a realizar, le recordamos que estos pueden ser de tipo personal, Politico, Economicos, Sociales, Culturales, SocioEconomico, cientifico, Comercial, Mercadotecnia, investigaciones de mercado, entre otros. Una ves determinado esto le daremos a conocer El COSTO DEL ESTUDIO, le aclaramos que solo usted como propietario tiene acseso a los resultados.   

La honestidad, responsabilidad, imparcialidad y especialmente la CONFIDENCIALIDAD son y han sido las caracteristicas que nos identifican.


Al hacer click sobre el nombre del estudio usted sera dirigido a una pagina que contiene las preguntas del estudio, en cada pregunta usted tienen la opcion de ver las opciones de respuesta. Tambien tienen 4 botones en los cuales pueden mostrarle graficas de BARRAS, PASTEL, SECUENCIA y TENDENCIAS

BARRAS: usted puede comparar graficamente con un grafico de barras el porcentaje que una opcion tienen con respecto a otra, para una pregunta especifica.

 

