
{% extends "base.html" %}
{% load staticfiles %} 
{% load thumbnail %}

{% block content %}
  
<div class="row">  
       <div class="alert alert-info">         
         <p>{{configurar.mensaje_bienvenida| linebreaks}}</p>
                         
         {%  if user.is_authenticated %}
                                
         {%  else  %} 
             <br>                                
             <li><a href="/accounts/login">Entrar aqui..! </a></li>
              <br>
            <li><a href="/crear_usuario">Quieres ver los estudios..?   Registrarte Aqui...!</a></li>
         {% endif %}  

<!--   quita este parar color de fondo -->













</div>
</div>



 {% endblock %}
