{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
 

<br>
<center><h3><p>GRACIAS POR SUSCRIBIRTE A ESTE ESTUDIO</p></h3></center>

<p>Nombre: {{estudio.nombre}}</p>
<br>
<p>Este estudio tienen un costo unico de ${{estudio.precio_por_suscripcion}}
Por el momento usted esta solicitando suscribirse, un administrador se comunicara con usted para gestionar su pago y poder habilitar el acseso al estudio.</p>

<br>
<p>Puede pagar por transferencia bancaraia</p>
<p>Por Tigo Money</p>
<p>Pago personal, al encargado del estudio</p>
<br>

<p>O comuniquese con este numero para agilizar el proceso de Suscripcion</p>
<br>
<td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=50378218224&text=Hola%2C%20deseo%20informacion"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td>

<br>


          

{% endblock %}