{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
 


<center><h3><p>GRACIAS POR SUSCRIBIRTE A ESTE ESTUDIO</p></h3></center>
estudio_actual
<p>Nombre: {{estudio_actual.nombre}}</p>
<p>Costo Suscripcion $: {{estudio_actual.precio_por_suscripcion}}  (Pago unico)</p>

<br>
<p>Este estudio tienen un costo unico de ${{estudio_actual.precio_por_suscripcion}}
Por el momento usted esta solicitando suscribirse, un administrador se comunicara con usted para gestionar su pago y poder habilitar el acseso al estudio.</p>

<br>
<p>Puede pagar por transferencia bancaraia</p>
<p>Por Tigo Money</p>
<p>Pago personal, al encargado del estudio</p>
<br>

<p>O envie un mensaje por WhatsApp para agilizar el proceso de Suscripcion</p>
<br>
<center>
<td WIDTH="60"><a href="https://api.whatsapp.com/send?phone=50378218224&text=Hola%2C%20deseo%20informacion"><img src='{% static "whatsapp.png" %}' alt='img'/></a></td></center>

<br>
<p>De igual manera si usted aplica para colaborar como Encuestador, un administrador se comunicara con usted para continuar con el proceso</p>

         

{% endblock %}