{% extends "base.html" %}
{% block content %}
{% load staticfiles %} 
 

  

<center><h3><p><font color="red">Min Numeros $ </font ></p></h3></center>
 
</center>
		<p> Nombre de usuario {{usuario_actual}}</p>
		<br>

		<p> Estudio:</p>
		<p> Costo de cada encuesta:</p>
		<p> Total de encuestas asignadas:</p>
		<p> Total de encuestas realizadas:</p>
		<p> Total de encuestas canceladas:</p>
		<p> Total de adeudadas asignadas:</p>
		<p> Valor Total adeudado $:</p>
		<p> Estudio:</p>
		 
</center>

                       

{% endblock %}